@import '../components/variables.scss';

@font-face {
  font-family: 'CormorantInfant Bold';
  src: url(./../assets/fonts/Cormorant/CormorantInfantBold/CormorantInfant-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant SemiBoldItalic';
  src: url(./../assets/fonts/Cormorant/CormorantInfantSemiboldItalic/CormorantInfant-SemiBoldItalic.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant LightItalic';
  src: url(./../assets/fonts/Cormorant/CormorantInfantLightItalic/CormorantInfant-LightItalic.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant Light';
  src: url(./../assets/fonts/Cormorant/CormorantInfantLight/CormorantInfant-Light.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans Regular';
  src: url(./../assets/fonts/PTSans/PTSansRegular/PTSansRegular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans Bold';
  src: url(./../assets/fonts/PTSans/PTSansBold/PTSansBold.ttf);
  font-weight: normal;
  font-style: normal;
}