@import './variables.scss';
@import './../helpers/fonts.scss';

#footer {
  padding-top: 45px;
  height: auto;

  background-color: $color_text;

  @media screen and (max-width: 576px) {
    padding-top: 15px;
  }

  .text {
    color: $bgc_header;

    @media screen and (max-width: 769px) {
      text-align: center;
    }

    .title {
      margin-bottom: 20px;

      font-size: 30px; //36px
      line-height: 44px;
      font-family: 'CormorantInfant Bold', 'Arial', serif;

      @media screen and (max-width: 576px) {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .tagline {
      width: 370px;
      
      font-size: 16px;
      line-height: 24px;
      font-family: 'Cormorant Light', 'Arial', serif;

      @media screen and (max-width: 769px) {
        width: auto;
      }
    }
  }

  .nav {
    @media screen and (max-width: 992px) {
      display: none;
    }

    ul {
      li {
        a {
          font-size: 16px;
          line-height: 34px;
          color: $bgc_header;
          font-family: 'PTSans Regular', 'Arial', serif;

          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

  .links {
    @media screen and (max-width: 769px) {
      display: none;
    }

    text-align: right;

    .social {
      margin-bottom: 37px;

      text-align: right;
    }
  }

  .name {
    padding: 12px 0 20px 0;

    font-size: 14px;
    line-height: 20px;
    color: $color_name;
    font-family: 'PTSans Regular', 'Arial', serif;

    @media screen and (max-width: 769px) {
      text-align: center;
    }
  }
}
