@import './variables.scss';
@import './../helpers/fonts.scss';

header {
  position: relative;
  padding-top: 40px;

  text-align: center;

  background-color: $bgc_header;

  @media screen and (max-width: 769px) {
    padding-top: 20px;
    text-align: left;
  }

  .title {
    font-size: 36px;
    line-height: 36px;
    font-family: 'CormorantInfant Bold', 'Arial', serif;
    color: $color_text;

    @media (min-width: 770px) and (max-width: 992px) {
      font-size: 20px;
      line-height: 20px;
    }

    @media screen and (max-width: 769px) {
      font-size: 12px;
      line-height: 12px;
    }
  }

  .tagline {
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 24px;
    font-family: 'Cormorant LightItalic', 'Arial', serif;
    color: $color_tagline;

    @media screen and (max-width: 992px) {
      margin-bottom: 20px;
      font-size: 10px;
      line-height: 16px;
    }
  }

  hr {
    @media screen and (max-width: 769px) {
      margin: 0;
    }
  }

  .nav {
    @media screen and (max-width: 579px) {
      background-color: $color_text_leftPost;
    }

    #menu {
      display: none;

      @media screen and (max-width: 579px) {
        display: block;
        margin: auto;

        color: $bgc_header;

        font-family: 'CormorantInfant Bold', 'Arial', serif;
        text-transform: uppercase;
        outline: none;
      }
    }

    .link {
      padding: 15px;

      @media screen and (max-width: 769px) {
        padding: 0;
      }

      a {
        font-size: 16px;
        line-height: 24px;
        font-family: 'TPSans Regular', 'Arial', serif;
        color: $color_text;

        text-transform: uppercase;

        @media (min-width: 993px) and (max-width: 1200px) {
          font-size: 14px;
          line-height: 14px;
        }

        @media (min-width: 579px) and (max-width: 992px) {
          font-size: 8px;
          line-height: 12px;
        }

        @media screen and (max-width: 578px) {
          padding-left: 15px;

          font-size: 12px;
          line-height: 12px;
          color: $bgc_header;
        }


        font-family: 'Cormorant LightItalic',
        'Arial',
        serif;

        &:hover {
          color: $color_navLink_active;
        }
      }
    }
  }
}
