//color
$color_text: #000;
$bgc_header: #fff;
$color_tagline: #595959;
$color_navLink_active: #48974c;
$color_text: #404040;
$color_accent: #449653;
$bd_color_posts: #ededed;
$color_time_liftPost: #a6a6a6;
$color_title_leftPost: #262626;
$color_text_leftPost: #737373;
$color_button: #48974c;
$color_name: #999999;
